include components/head
body
	include components/header-back
	main(class="map")
		iframe(id="map_407324315" sandbox="allow-modals allow-forms allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation" frameborder="0")










	include components/footer