include components/head
body
	include components/header-back
	main(class="notifications")
		nav(class="notifications_nav")
			ul
				li
					a(href="notificationscations.html") Объявления
				li
					h1 Новости

		ul(class="notifications_list")
			li(class="notifications_item")
				a(class="notifications_link" href="#0")
					h2 О проведении гидравлических испытаний на М-28
					time 18.07.2021



			li(class="notifications_item")
				a(class="notifications_link" href="#0")
					h2 О продлении отключения ГВС на У2
					time 28.07.2021


			li(class="notifications_item")
				a(class="notifications_link" href="#0")
					h2 Об отсутствии ГВС на У2
					time 31.05.2021


			li(class="notifications_item")
				a(class="notifications_link" href="#0")
					h2 О системе вентиляции
					time 07.04.2021

			li(class="notifications_item")
				a(class="notifications_link" href="#0")
					h2 О системе вентиляции
					time 07.04.2021





	include components/footer