include components/head
body
	include components/header-back
	main(class="notifications")
		header(class="notifications_header")
			h1 О проведении гидравлических испытаний на М-28
			time 18.07.2021

		div(class="notifications_body")
			p Уровень комфортного проживания в многоквартирном доме определяется не только наличием водопровода, электричества, отопления и системы водоотведения.

			p Система вентиляции является неотъемлемым условием для поддержания здорового микроклимата в каждом жилом и хозяйственном помещении. Дело в том, что от правильного воздухообмена зависит здоровье людей, состояние вещей и отделки, срок эксплуатации самого здания.

			p Работа системы вентиляции в доме, где более 100 квартир

			p Вентиляционные каналы в многоквартирном доме работают по принципу движения воздуха от области высокого давления к низкому.

			p Это достигается разницей уровней подвала и крыши, где на каждые 10 м давление понижается на 1 мм.рт.ст..

			p Расчет делается на то, что свежий воздух поступает в помещения через приоткрытые окна, вентиляционные отверстия, замочные скважины, сквозь деревянные рамы.

			p Затем воздух втягивается в шахты, увлекает за собой массы из жилых помещений, которые, собирая пыль, влагу, запахи и углекислый газ, выводятся наружу.

			p ! То есть приток воздуха в квартиру приходит через окно или открытую дверь. И далее этот воздух движется через вентиляционный канал, попадая в центральную шахту, где и выходит на улицу.

			p ! Для того, чтобы следующий поток воздуха прошёл такой же путь, необходимо обеспечить его присутствие.

			p Разумеется, в холодную погоду мы не будем держать окна открытыми в режиме 24/7.

			p В этом случае вопрос можно решить путем:
			ul
				li ✔ регулярного проветривания помещений квартиры короткими сроками;
			p или
			ul
				li ✔ установки на вентиляционное отверстие вентилятора с обратным клапаном.

			p Многоквартирный дом — это механизм, который состоит из квартир, каждая из которых взаимосвязана друг с другом.



	include components/footer