include components/head
body
	include components/header-back
	main(class="notifications")
		div(class="notifications_content") В связи с переездом
			span(class="text-underline")  в период с 14.04.2021 по 16.04.2021 личный прием граждан в офисе управляющей компании
			span(class="text-bold")  временно приостановлен,
			| все обращения принимаются в электронном виде, на официальную почту
			br
			br
			a(class="text-bold" href="mailto:info@ug-energo.com") info@ug-energo.com
			br
			br
			| С 19.04.2021 г. прием граждан возобновится в офисе 801А (8 этаж, БЦ Сувуров, Радищева 6А)


	include components/footer