include components/head
body
	include components/header-back
	main(class="payment")
		h1(class="profile_content_title") Оплата (Отопление)

		form(class="form")
			input(type="text" placeholder="Номер лицевого счета" required)
			input(type="text" placeholder="Номер телефона" required)
			input(type="email" placeholder="E-mail" required)
			button(class="btn btn_primary" style="margin-left:auto" type="submit") Далее








	include components/footer