include components/head
body
	include components/header-back
	main(class="payment")
		h1(class="profile_content_title") Оплата (Отопление)

		div(class="payment_content")
				p К оплате:
				p(class="text-bold") 1706,98
					span  &#8381;

		a(class="btn btn_primary" style="margin-left:auto; width: 100px" href="payment-success.html") Далее










	include components/footer