include components/head
body
	include components/header-back
	main(class="payment")
		h1(class="profile_content_title") Выберете тариф

		a(class="still_link" href="./payment-form.html")
			p Отопление
		a(class="still_link" href="#0")
			p Водоотведение
		a(class="still_link" href="#0")
			p Горячее водоснабжение
		a(class="still_link" href="#0")
			p Холодное водоснабжение








	include components/footer