include components/head
body(class="still")
	include components/header
	main
		a(class="still_link" href="#0")
			h2 Профиль
			include ../images/still/user.svg

		a(class="still_link" href="#0")
			h2 Объявления и новости
			include ../images/still/news.svg

		a(class="still_link" href="#0")
			h2 Контакты
			include ../images/still/contacts.svg



	include components/footer