include components/head
body
	include components/header
	main
		include components/page-header
		div(class="page_body container")
			h1(class="page_title")
				span(class="text-gradient") Контакты

			div(class="page_content")
				h2 Офис:
				p 620144, Свердловская область, г. Екатеринбург, ул. Радищева, д.6а, офис 801А (при себе иметь документ, удостоверяющий личность)
				h2 Телефоны:
				h3 Общий
				p
					a(href="tel:+73433006516") (343) 300-65-16
				h3 Аварийно - диспетчерская служба
				p
					a(href="tel:+73432530112") (343) 25-30-112
				h3 Справочный номер Единого Расчетного Центра
				p
					a(href="tel:+73432147700") (343) 214-77-00
				h2 E-mail:
				p
					a(href="mailto:info@ug-energo.com") info@ug-energo.com
				h2 Часы работы:
				p
					b ПН-ЧТ:
					|  с 8-30 до 17-30
				p
					b ПТ:
					|  с 8-30 до 17-00

				p
					b Перерыв:
					|  c 12-30 до 13-30
				p
					b СБ-ВС:
					|  выходной
				br
				br

				h2 Подрядчики по эксплуатации и техническому обслуживанию жилого фонда (ИП Билак А.Э.)
				br
				h2 ЖК "Юг-Центр" и Жилой дом "Академия" (Щорса, д.54а)

				p Управляющая жилым фондом Лабунец Наталья Валерьевна
				p тел. 8-958-224-82-59, e-mail: ug_centr@bk.ru
				p Телефон поста охраны - 8-982-688-65-22

				h2 ЖК "Калиновский"
				p Управляющая жилым фондом Степанченко Ирина Александровна
				p тел. 8-958-2-248-248, e-mail: gkkalina@bk.ru

				h2 ЖК «Культура»

				p Управляющая жилым фондом Степанченко Ирина Александровна
				p тел. 8-992-021-33-66, e-mail: gkkalina@bk.ru
				p Телефон поста охраны - 8-950-202-39-82

				h2 Жилой дом Индустрии, 66

				p Управляющая жилым фондом Степанченко Ирина Александровна
				p тел. 8-958-2-248-248, e-mail: gkkalina@bk.ru
				p Телефон поста охраны - 8-982-64-44-963

				h2 ЖК "Татищев"

				p Управляющая жилым фондом Бусько Евгения Игоревна
				p тел. 8-958-224-82-66, e-mail: tatishevv@bk.ru

				h2 ЖК "Московский квартал"

				p Управляющая жилым фондом Крутикова Татьяна Борисовна
				p тел. 8-958-22-48-002, e-mail: mk_nu@bk.ru
				p Телефон поста охраны - 8-922-020-67-47

	include components/footer
