include components/head
body
	include components/header
	main
		include components/page-header
		div(class="page_body container")
			h1(class="page_title")
				span(class="text-gradient") Оплата

			div(class="page_content")
				h2 Уважаемые пользователи жилых помещений!

				p Согласно действующего жилищного законодательства (Постановления Правительства РФ № 354 от 06.05.2011 года) Управляющая компания вправе ограничить предоставление потребителю коммунальных услуг в случае их неполной оплаты.
					b  (Временно не действует до 01.01.2021г.)

				p Под неполной оплатой понимается наличие задолженности по оплате в размере, превышающем сумму 2-х месячных размеров платы.

				p Согласно действующему законодательству (п.а ст.119 ПП РФ № 354 от 06.05.2011 года), уведомление (предупреждение) должника о наличии задолженности является в том числе и публикация (раскрытие) информации на официальной странице исполнителя в информационно-телекоммуникационной сети "Интернет"

				p В случае, если на момент публикации информации, задолженность не была погашена, или в течение 20 дней не будут приняты меры по погашению задолженности, Управляющая компания «Юг-Энерго», будет вынуждена обратиться в суды общей юрисдикции.

				p
					b Получить информацию о порядке и условиях заключения соглашения о рассрочке Вы можете в юридическом отделе Управляющей компании «Юг-Энерго» по номеру: +7 (343) 300-65-16; 8-992-015-51-67

				h2 Оплата квитанции онлайн

				p Ссылка для перехода на страницу
					a(href="https://www.ерц96.рф")  www.ЕРЦ96.рф

				p
					b Оплатить услуги ЖКХ по квитанции «Единого Расчетного Центра» сейчас можно прямо с сайта www.ЕРЦ96.рф в любое время и без комиссий. Для этого воспользуйтесь разделом «Online – платежи» на главной странице.

				p
					i — Данный сервис — это еще одна дополнительная возможность для горожан сэкономить время, оплачивая услуги ЖКХ, не выходя из дома. Сегодня каждый житель — наш абонент, который обзавелся собственным кабинетом на нашем сайте, — может в удобное для себя время получать информацию о начислениях и платежах за жилое помещение и коммунальные услуги. Особенно востребована возможность передавать показания приборов учета. Как показывает статистика, около 60 тысяч человек ежемесячно пользуются «Личным кабинетом». Уверены, что данный сервис придется нашим постоянным посетителям по душе. Ну, а должникам поможет максимально быстро и без хлопот расстаться со своим долгами, - отметила Заместитель директора «Единого расчетного центра» Елена Береснева.

				p Провести платеж через сайт очень просто: в разделе «Online-платежи» нужно ввести номер лицевого счета (он указан в квитанции), затем сумму к оплате и кликнуть «Оплатить». После регистрации данных банковской карты на мобильный телефон высылается пароль для подтверждения платежа — это дополнительная защита. После завершения операции платеж учитывается в системе. Чек можно распечатать или отправить по электронной почте — если кому-то понадобится документальное подтверждение факта платежа.

				h2 Способы оплаты:
				ul
					li Через
						a(href="#0")  Личный кабинет Собственника
					li В
						a(href="#0")  пунктах приёма платежей
						|  «Фрисби» (без комиссии)
					li В банках-парнерах «Фрисби» – кассы, терминалы (без комиссии)
					li На
						a(href="#0")  сайте
						|  компании «Фрисби» (без комиссии)
					li По
						a(href="#0")  банковским реквизитам
				h2 Способы оплаты услуг через ПАО Сбербанк:
				ul
					li с помощью интернет-банка Сбербанк Онлайн
						a(href="#0")  (войти в Сбербанк Онлайн)
					li с помощью мобильного приложения Сбербанк Онлайн
						a(href="#0")  (подробно об услуге)
					li с помощью услуги Автоплатеж
						a(href="#0")  (подробно об услуге)
					li в отделениях и банкоматах ПАО Сбербанк
						a(href="#0")  (адреса ближайших отделений и банкоматов)

				h2
					span(class="text-gradient") Оплата услуг через Банк “УБРиР”:

				p С картой “My Life” от Уральского Банка оплачивать ЖКУ станет намного удобнее!
				p Помимо этого, у карты много дополнительных бонусов:
				p — Кэшбэк рублями 1% за все покупки и 5% за оплату коммунальных услуг;
				p — Снятие наличных в любых банкоматах бесплатно до 50 000 руб.;
				p — Переводы на карту в любой банк без комиссий в рамках СБП.

				h2
					span(class="text-gradient") Сколько стоит обслуживание?
					|  💰

				p — Карта полностью бесплатна без всяких условий!
				p Получи «My Life» от УБРиР сегодня, не откладывай «My Life» на потом!
				p Твоя карта уже ждет тебя!

				img(src="./images/payment/ubrir.webp" loading="lazy" width="" height="")

				p Убедительная просьба вносить оплату за коммунальные услуги до 10го числа ежемесяно.
				p А также передовать показания приборов учета в срок с 22-го до 25-го числа ежемесячно.
				p По вопросам начислений, доставки квитанций, передачи показаний приборов учета Вы можете обращаться в Единый расчетный центр
				p Телефон справочной службы ЕРЦ
					b  8-343-214-77-00
				p С 8-00 до 20-00 ежедневно.

				h2 Порядок предоставления рассрочки по погашению задолженности по оплате за жилое помещение и коммунальные услуги

				p Действующее законодательство Российской Федерации предусматривает возможность предоставления отсрочки или рассрочки погашения задолженности по оплате коммунальных услуг на условиях, согласованных Потребителем и Исполнителем (п.75 Постановления Правительства РФ от 06.05.2011 № 354 «О предоставлении коммунальных услуг собственникам и пользователям помещений в многоквартирных домах и жилых домов»).

				h2 Условие рассрочки:
				ul
					li Оплата оставшейся суммы задолженности равными платежами ежемесячно в течение последующих 3 календарных месяцев, включая месяц, начиная с которого предоставляется рассрочка (текущие платежи оплачиваются дополнительно).
					li Предварительное погашение 50% от общей суммы задолженности.

				h2 Основанием для предоставления рассрочки погашения задолженности за ЖКУ отдельным категориям нанимателей, собственников могут служить следующие причины:
				ul
					li длительная болезнь нанимателя, собственника или членов семьи нанимателя, собственника;

					li длительное отсутствие по месту постоянного проживания одиноко проживающего нанимателя, собственника или семьи;

					li нерегулярное и не в полном объеме получение заработной платы по месту работы нанимателя, собственника;

					li признание в установленном порядке нанимателя, собственника или членов его семьи безработными;

					li среднедушевой доход семьи нанимателя, собственника ниже прожиточного минимума;

					li иные причины, отразившиеся на платежеспособности нанимателя, собственника, членов его семьи.

				p
					b Обязательным условием предоставления рассрочки погашения задолженности за ЖКУ является обязательство нанимателя, собственника оплачивать текущие платежи своевременно, не допуская роста задолженности.

				h2 Собственник должен следовать такой инструкции:

				p Написать заявление с просьбой предоставить вам рассрочку или отсрочку. Заявление можно напечатать на ПК или написать от руки, а затем направить в Управляющую компанию «Юг-Энерго».

				p Образец заявления (скачать
					a(href="#0")  приложение №1
					|  и
					a(href="#0")  Бланк гар.обязат.)

	include components/footer
