footer(class="footer")
	a(class="footer_link footer_home current" href="#0")
		span Главная

	a(class="footer_link footer_request" href="#0")
		span Заявки

	a(class="footer_link footer_order" href="#0")
		span Оплата

	a(class="footer_link footer_else" href="#0")
		span Еще

script(src="./js/scripts.min.js" async)