section(class="footer")
	div(class="container")
		a(class="footer_logo" href="#0")
			span(class="sr-only") ЮГ ЭНЕРГО Управляющая компания
			include ../../images/footer/logo.svg

		div(class="footer_form")
			h2(class="footer_title") Подпишитесь, чтобы быть в курсе последних событий!
			form(class="subscribe")
				input(class="subscribe_input" type="email" placeholder="E-mail" required)
				button(class="btn btn_gradient") Подписаться

		div(class="footer_copywriter")
			script(type="text/javascript") document.write(new Date().getFullYear())
			| . Все права защищены

script(src="./js/scripts.min.js")
