header(class="header")
	div(class="container header_row")
		a(class="header_logo" href="/")
			span(class="sr-only") ЮГ ЭНЕРГО Управляющая компания
			include ../../images/header/logo.svg

		nav(class="header_nav")
			ul(class="header_list")
				li(class="header_item current")
					a(href="#0") Главная
				li(class="header_item")
					a(href="#0") O себе
				li(class="header_item")
					a(href="#0") Новости
				li(class="header_item")
					a(href="#0") Жилой фонд
				li(class="header_item")
					a(href="#0") Объявления
				li(class="header_item")
					a(href="#0") Оплата
				li(class="header_item")
					a(href="#0") Контакты

		div(class="header_buttons")
			div(class="header_search")
				include ../../images/header/search.svg

			div(class="header_login")
				include ../../images/header/user.svg
				span Личный кабинет
