ul(class="news")
	li(class="news_list")
		h3(class="news_title") Об отсутствии ГВС на М-38
		time(class="news_time" datetime="2021-07-28 19:00") 28.07.2021
		a(class="news_link" href="#0")
			include ../../images/right-arrow.svg

	li(class="news_list")
		h3(class="news_title") О проведении гидравлических испытаний на М-28
		time(class="news_time" datetime="2021-07-28 19:00") 28.07.2021
		a(class="news_link" href="#0")
			include ../../images/right-arrow.svg

	li(class="news_list")
		h3(class="news_title") О продлении отключения ГВС на У2
		time(class="news_time" datetime="2021-07-28 19:00") 28.07.2021
		a(class="news_link" href="#0")
			include ../../images/right-arrow.svg

	li(class="news_list")
		h3(class="news_title") Об отсутствии ГВС на У2
		time(class="news_time" datetime="2021-07-28 19:00") 28.07.2021
		a(class="news_link" href="#0")
			include ../../images/right-arrow.svg

	li(class="news_list")
		h3(class="news_title") Отвечаем на самые часто задаваемые вопросы, касающиеся капитального ремонта
		time(class="news_time" datetime="2021-07-28 19:00") 28.07.2021
		a(class="news_link" href="#0")
			include ../../images/right-arrow.svg

