nav(class="pagination")
	ul(class="pagination_list")
		li(class="pagination_nav")
			span(class="disabled") Первая
		li(class="pagination_arrow")
			span(class="disabled") &#171;
		li(class="pagination_item")
			span(class="current") 1
		li(class="pagination_item")
			a(href="#0") 2
		li(class="pagination_item")
			a(href="#0") 3
		li(class="pagination_item")
			a(href="#0") 4
		li(class="pagination_item")
			a(href="#0") 5
		li(class="pagination_arrow")
			a(href="#0") &#187;
		li(class="pagination_nav")
			a(href="") Последняя
