div(class="slider")
	div(class="slider_left")
	ul(class="slider_list")
		li(class="slider_item")
			a(class="slider_link" href="#0")
				p(class="slider_text") В связи с переездом
					u  в период с 14.04.2021 по 16.04.2021
					|  личный прием граждан в офисе управляющей компании
					b  временно приостановлен,
					|  все обращения принимаются в электронном виде, на официальную почту
					br
					br
					b
						u info@ug-energo.com
					br
					br
					| 19.04.2021 г. прием граждан возобновится в
					b  офисе 801А
					|  (8 этаж, БЦ Сувуров, Радищева 6А)
				time(class="slider_time" datetime="2021-07-28 19:00") 28.07.2021

		li(class="slider_item")
			a(class="slider_link" href="#0")
				p(class="slider_text") Акция
					b  “ПРОЩАЙ ПЕНИ”  Продолжается!
					br
					| Условия просты!!! 100% Пени мы спишем при оплате 100% долга за ЖКУ.
					br
					br
					|  Погаси задолженность свыше 10 000 за коммунальные услуги.
				time(class="slider_time" datetime="2021-05-31 19:00") 31.05.2021

		li(class="slider_item")
			a(class="slider_link" href="#0")
				p(class="slider_text") Акция
					b  “ПРОЩАЙ ПЕНИ”
					br
					| Условия просты!!! 100%
					br
					| Пени мы спишем при оплате 100% долга за ЖКУ.
					br
					| Погаси задолженность свыше 10 000 за коммунальные услуги.
					br
					br
					| Действие акции с 01.11.2020 по 25.12.2020.
					br
					| Подробности по телефону
					b  300-65-16
				time(class="slider_time" datetime="2021-07-18 19:00") 18.07.2021

	div(class="slider_right")