div(class="slider")
	div(class="slider_left")
	ul(class="slider_list")
		li(class="slider_item")
			a(class="slider_link" href="#0")
				h3(class="slider_title") О продлении отключения ГВС на У2
				time(class="slider_time" datetime="2021-07-28 19:00") 28.07.2021

		li(class="slider_item")
			a(class="slider_link" href="#0")
				h3(class="slider_title") О проведении гидравлических испытаний на М-28
				time(class="slider_time" datetime="2021-07-18 19:00") 18.07.2021

		li(class="slider_item")
			a(class="slider_link" href="#0")
				h3(class="slider_title") Об отсутствии ГВС на У2
				time(class="slider_time" datetime="2021-05-31 19:00") 31.05.2021

	div(class="slider_right")
