section(class="topcontacts")
	h2(class="topcontacts_title") Круглосуточная
		br
		| Аварийно - диспетчерская служба
	address(class="topcontacts_phone")
		a(href="tel:+73432530112") (343) 25-30-112

	h2(class="topcontacts_title") Справочный номер
		br
		| Единого Расчетного Центра
	address(class="topcontacts_phone")
		a(href="tel:+73432147700") (343) 214-77-00