div(class="topslider")
	div(class="topslider_left")
	ul(class="topslider_list")
		li(class="topslider_item")
			a(class="topslider_link" href="#0")
				img(class="topslider_image" src="./images/topslider/01.webp" alt="Совхозная 8" loading="lazy" width="" height="")
				div(class="topslider_shadow")
					address(class="topslider_address") Совхозная 8

		li(class="topslider_item")
			a(class="topslider_link" href="#0")
				img(class="topslider_image" src="./images/topslider/02.webp" alt="Совхозная 12" loading="lazy" width="" height="")
				div(class="topslider_shadow")
					address(class="topslider_address") Совхозная 12

		li(class="topslider_item")
			a(class="topslider_link" href="#0")
				img(class="topslider_image" src="./images/topslider/03.webp" alt="Индустрии 66" loading="lazy" width="" height="")
				div(class="topslider_shadow")
					address(class="topslider_address") Индустрии 66

		li(class="topslider_item")
			a(class="topslider_link" href="#0")
				img(class="topslider_image" src="./images/topslider/04.webp" alt="Союзная 2" loading="lazy" width="" height="")
				div(class="topslider_shadow")
					address(class="topslider_address") Союзная 2

		li(class="topslider_item")
			a(class="topslider_link" href="#0")
				img(class="topslider_image" src="./images/topslider/05.webp" alt="Таганская 87" loading="lazy" width="" height="")
				div(class="topslider_shadow")
					address(class="topslider_address") Таганская 87

		li(class="topslider_item")
			a(class="topslider_link" href="#0")
				img(class="topslider_image" src="./images/topslider/06.webp" alt="Щорса 105" loading="lazy" width="" height="")
				div(class="topslider_shadow")
					address(class="topslider_address") Щорса 105

		li(class="topslider_item")
			a(class="topslider_link" href="#0")
				img(class="topslider_image" src="./images/topslider/07.webp" alt="Совхозная 2" loading="lazy" width="" height="")
				div(class="topslider_shadow")
					address(class="topslider_address") Совхозная 2

		li(class="topslider_item")
			a(class="topslider_link" href="#0")
				img(class="topslider_image" src="./images/topslider/08.webp" alt="Таганская 95" loading="lazy" width="" height="")
				div(class="topslider_shadow")
					address(class="topslider_address") Таганская 95

	div(class="topslider_right")


